# Dependencies
node_modules/
package-lock.json

# Environment Variables (PENTING: Jangan pernah di-upload ke GitHub!)
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE / Editor Files
.vscode/
.idea/
*.sublime-*

# Build Output / Temp
dist/
build/
temp/
coverage/